<launch>
  <arg name="config" default="$(find dope)/config/config_pose.yaml" doc="Path to parameter config file"/>

  <!-- <node name="rviz_view" pkg="rviz" type="rviz" required="true" args="-d $(find dope)/rviz/view.rviz"/> -->

  <node name="dope" pkg="dope" type="dope" output="screen" clear_params="true">
    <rosparam file="$(arg config)"/>
  </node>
</launch>
